/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  //Variables 
  $logosize: 25% !important; 
  $sidemargins: 55px; 
  $navtop: 0.2 * $sidemargins; 
  $hambasewidth: 25px;

  //CSS
  .container{
    padding-right: $sidemargins !important; 
    padding-left: $sidemargins !important; 
  }

  // Body
  body {
    header {           
      nav { 
        padding: $navtop 0 !important; 
        .menu {
          .menu-content {
            ul {
              margin: 0; 
              padding-left: 2.5 * $hambasewidth; 
              li{
                
              }
            }
          }
        }
        .logo {
          img {
            width: $logosize;  
          }
        }
      }
    }
  }
}