$bgColor: #000; 
$color: #fff; 
$hambgcolor: #fff;
$hambasewidth: 25px;
$hamsizemultiplier: 1;
$headerheight: 5vh; 
$hambgheight: 22.5px; 
$containerpadding: 20px; 
$navtop: 0.2 * $containerpadding;  
$textsize: 0.75rem; 

.closed {
    display: none !important; 
}
.opened-search {
    display: flex !important;
}
.no-border {
    border: 0 !important; 
}

body {
    background: $bgColor; 
    margin: 0;
    header {
        position: fixed;
        width: 100vw; 
        z-index: 10;       
        nav {
            flex-direction: row; 
            justify-content: space-between; 
            height: $headerheight;
            & > div{
                display: flex; 
                line-height: $headerheight; 
                margin: 0; 
            }
            .menu {
                width: 30%;
                cursor: pointer; 
                overflow: visible;
                flex-flow: row wrap; 
                position: relative;
                // Hamburger 
                .hamburger {
                    z-index: 20; 
                    width: $hambasewidth * $hamsizemultiplier;
                    height: $hambgheight * $hamsizemultiplier;
                    position: absolute;
                    top: 50%; 
                    margin-top: -0.5 * $hambgheight; 
                    cursor: pointer; 
                    display: inline-block; 
                    span {
                        display: block;
                        position: absolute;
                        height: 2.22px; 
                        border-radius: 1px; 
                        width: 100%;
                        background: $hambgcolor none repeat scroll 0% 0%;
                        opacity: 1;
                        right: 0px;
                        transition: all 0.25s ease-in-out 0s;
                        transform: rotate(0deg);
                    &:nth-child(1) {
                        margin-top: 0px;
                    }
                    &:nth-child(2) {
                        margin-top: 8px * $hamsizemultiplier;
                        margin-right: 0.25 * $hambasewidth; 
                        width: 75%; 
                    }
                    &:nth-child(3) {
                        margin-top: 16px * $hamsizemultiplier;
                    }
                    }
                    &.opened {
                    span {
                        &:nth-child(1) {
                            transform: rotate(135deg);
                            margin-top: 8px * $hamsizemultiplier;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                            right: -$hambasewidth * 3;
                        }
                        &:nth-child(3) {
                            transform: rotate(-135deg);
                            margin-top: 8px * $hamsizemultiplier;
                        }
                    }
                    }
                }
                .menu-open{
                    display: block !important; 
                }
                .menu-content{
                    position: absolute; 
                    display: none; 
                    ul {
                        list-style: none;
                        padding: 0; 
                        margin: 2 * $hambgheight 0; 

                        a{
                            text-decoration: none; 
                            color: $color; 
                            li {
                              font-size: $textsize; 
                              line-height: 2.5 * $textsize; 
                            }
                        }
                    }
                }
            }
            .logo {
                // display: flex; 
                width: 40%; 
                justify-content: center; 
                align-items: center;

                img { 
                    display: inline-block; 
                }
            }
            .cart {
                justify-content: flex-end; 
                width: 30%; 
                align-items: center; 
                i{
                    font-size: 1.5 * $textsize; 
                    padding-left: $textsize; 
                }
                form {
                    display: none; 
                    position: absolute; 
                    color: $color; 
                    width: 70%; 
                    // display: flex; 
                    height: $hambgheight;
                    line-height: $headerheight; 
                    border-bottom: 1px solid $color; 
                    font-size: $textsize;
                    margin-top: -5px; 
                    i {
                        font-size: $textsize;
                        line-height: $textsize; 
                        padding: 0.6 * $textsize 0 0 0.6 * $textsize; 
                        height: $hambgheight; 
                    }
                    input[type=text] {
                        background-color: transparent; 
                        outline: none; 
                        box-sizing: border-box; 
                        line-height: normal; 
                        color: $color; 
                        border: 0; 
                        width: 100%; 
                        font-size: $textsize; 
                    }
                    button {
                        color: $color; 
                        background-color: transparent; 
                        border: 0; 
                        padding: 0; 
                    }
                }
            }
        }
    }
    .footer{
        display: flex; 
        justify-content: center; 
        background-color: #000; 
        bottom: 0;
        z-index: 99; 
        clear: both;
        width: 100%; 
       nav {
            flex-direction: row; 
            height: 5vh;
            justify-content: center; 
            width: 100vw; 
            .copyright {
                max-width:40%;  
                font-size: 0.9 * $textsize; 
                justify-content: flex-end; 
                padding: 0 2 * $textsize; 
                li{
                    margin: 0 12px; 
                }
            }
            .footer-links{
                max-width:40%;
                text-transform: uppercase; 
                font-size: 1.2 * $textsize; 
                justify-content: flex-end; 
                padding: 0 2 * $textsize; 
            }
            .social{
                max-width: 20%;
                font-size: $textsize; 
                justify-content: flex-start;
                padding: 0;  
                li{
                    margin: 0  0.5 *$textsize; 
                }
            }
            li{
                list-style: none;
            }
            &>ul {
                display: flex; 
                line-height: 5vh; 
                margin: 0; 
            }
        }
    }
}

.container {
    display: flex; 
}

.home{
    height: 105vh;
    width: 100vw; 
    // overflow: hidden;
    header, footer{
        // display: none; 
        position: fixed; 
        color: $color;
        a{
            color: $color; 
        }
    }
}

 
.video-container {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    // z-index: -100; 
    .video {
    }
}
  

