/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  // Variables 
  $containerpadding: 55px; 
  $logosize: 25% !important; 
  $textsize: 1rem; 
  //CSS
  .container{
    margin-right: $containerpadding; 
    margin-left: $containerpadding; 
  }
  // Body
  body {
    .header {           
      nav{
        .logo {
          img {
            width: $logosize;  
          }
        }
      }
    }
    .footer {
      nav {
        .copyright{
          max-width: 100%; 
          font-size: 0.5 * $textsize; 
        }
        .footer-links{
          font-size: .75 * $textsize; 
        }
      }
    }
  } 
}